.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: #551A8B;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    margin-right: 20px;
}

.navbar a {
    color: #551A8B;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
    transition: color 0.4s ease;
    margin-right: 20px;
}

.navbar a:hover {
    color: #ffffff;
}